<h2 mat-dialog-title style="text-align: center;">Give your reviews</h2>
<div mat-dialog-content>
  <form [formGroup]="reviewForm">
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Heading</mat-label>
      <input formControlName="heading" matInput placeholder="Heading">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input formControlName="rating" matInput type="number" placeholder="Rate out of 5">
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Review</mat-label>
      <textarea formControlName="review" id="review" matInput
        placeholder="Enter your reviews"></textarea>
    </mat-form-field>
  </form>
</div>
<div style="float: right;">
  <button mat-raised-button mat-dialog-close class="btn btn-danger">Close</button>&nbsp;
  <button mat-raised-button mat-dialog-close class="btn btn-primary" (click)="addReview()">Save</button>
</div>