body {
  margin: 0;
  padding: 0;
  background: black;
  height: 100vh;
  font-family: sans-serif;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
table{
  border-radius: 4px;
}