body {
	margin: 0;
	padding: 0;
	background: black;
	height: 100%;
	font-family: sans-serif;
}

.card {
	margin: 5px;
}

.card img {
	width: 175px;
	height: 190px;
	margin-bottom: 15px;
	margin-top: 10px;
	transition: 0.3s ease-in-out;
}

.card img:hover {
	transition: 0.3s ease-in-out;
	transform: scale(1.1);
}